* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: rgb(234, 203, 234);
  height: 100vh;
  padding: 20px 10px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.line {
  display: flex;
  gap: 5px;
}
.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.keyBox {
  width: 30px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
.correct {
  background-color: lightgreen;
}
.close {
  background-color: yellow;
}
.incorrect {
  background-color: lightgrey;
}
.button {
  padding: 7px;
  outline: 0;
  background-color: lightgrey;
  border-radius: 4px;
  border: 2px solid rgb(155, 155, 155);
  width: min-content;
  flex-wrap: nowrap;
  white-space: nowrap;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(233, 229, 229);
}
.key_container {
  margin-top: 20px;
}
.delete {
  background-color: rgb(234, 147, 147);
}
.submit {
  border: 1px solid rgb(2, 103, 2);
  color: white;
  background-color: rgb(58, 167, 58);
  border-radius: 4px;
  padding: 10px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
